@charset "UTF-8";

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #e4faff;

    color: #000;
    font: 12px Helvetica, Arial, sans-serif;
    overflow: hidden;

    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

#main {
    min-width: 480px;
}

*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

body.mouseover {
    cursor: pointer;
}

span.date {
    color: #999;
}

.blog-entry {
    overflow: hidden;
}

.blog-entry article {
    padding-right: 10px;
}
